 body{
     background: rgb(231, 231, 231);
}

.logo {
    max-width:60px;
    max-height:800px;
    width: auto;
    height: auto;
}

/* Style Card Formulário vh = porcentagem da tela */

#form-pergunta{

    margin-top: 5vh;
}